.square {
    height: 100px;
    width: 100px;
    border: 0.5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
}